<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BloggingContext"
         providerName="Npgsql"
         connectionString="server=ec2-54-225-101-199.compute-1.amazonaws.com;userid=wxquhqkkzoqukv;password=n_tv2kGreRqWdUyVQrKfMSYcRs;database=ddvgjkj06h7ps1;SSL=True;"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider"
            invariant="Npgsql"
            description="Data Provider for PostgreSQL"
            type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
</configuration>